@import 'reset';
@import 'variables/global';

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    height: 100vh;
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
    letter-spacing: 0;
    text-decoration: none;
    text-indent: 0px;
}
