.title {
    font: var(--font-l-redesigned);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s {
    .title {
        font: var(--font-title-s);
    }

    .text {
        font: var(--font-size-sm);
    }
}

.size_m {
    .title {
        font: var(--font-title-m);
    }

    .text {
        font: var(--font-size-m);
    }
}

.size_l {
    .title {
        font: var(--font-title-l);
    }

    .text {
        font: var(--font-size-l);
    }
}

.bold {
    .title, .text {
        font-weight: 700;
    }
}

.upper {
    p, h1, h2, h3 {
        text-transform: uppercase;
    }
}