.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    transition: 0.2s ease all;

    &:hover {
        color: var(--accent-redesigned);
    }
}

.clear {
    padding: 0;
    border: none;
    outline: none;
}

.filled {
    border: none;
    outline: none;
    border-radius: 34px;
    border: 1px solid transparent;

    &.normal {
        background: var(--base-07);
        color: var(--base-02);

        &:hover {
            background: transparent;
            color: var(--base-07);
            border-color: var(--base-07);
        }
    }

    &.light-gray {
        background: var(--base-03);
        color: var(--base-06);

        &:hover {
            background: var(--base-05);
            color: var(--base-02);
        }
    }

    &.gray {
        background: var(--base-05);
        color: var(--base-02);

        &:hover {
            background: transparent;
            color: var(--base-07);
            border-color: var(--base-07);
        }
    }
}

.outline {
    background: none;
    border: 2px solid var(--icon-redesigned);
    border-radius: 34px;

    &:hover {
        border-color: var(--accent-redesigned);
    }

    &.normal {
        border-color: var(--icon-redesigned);
    }

    &.error {
        border-color: var(--cancel-redesigned);

        &:hover {
            color: var(--cancel-redesigned);
        }
    }

    &.success {
        border-color: var(--save-redesigned);

        &:hover {
            color: var(--save-redesigned);
        }
    }
}

.s {
    padding: 10px;
    font: var(--font-sm);
}

.m {
    font: var(--font-m);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}

.noneRadius {
    border-radius: 0;
}

.smRadius {
    border-radius: 10px;
}

.mRadius {
    border-radius: 100px;
}

.smGap {
    padding: 10px 12px;
}

.mGap {
    padding: 14px 24px;
}