body .light {
    --bg-color: #FCFCFC;
    --bg-inverted-color: #000000;
    --info-bg: #3A8BF3;

    --base-01: #FCFCFC;
    --base-02: #FFFFFF;
    --base-03: #F1F1F5;
    --base-04: #E1E5ED;
    --base-05: #697586;
    --base-06: #000000;
    --base-07: #3A8BF3;
    --base-shadow:
        0px -5px 15px 0px rgba(71, 93, 169, 0.03)
        0px 10px 15px 0px rgba(71, 93, 169, 0.04)
}